$font-montserrat: Montserrat, sans-serif;

$background-default: #ffffff;
$text-color-default: #ffffff;
$background-color: #fbfcff;
$tomato-color: #ff7a64;
$gray-color: gray;
$border-color: #d4e5f9;
$border-input-color: #f1f5ff;
$text-color: #111014;
